
body{
    background-color: skyblue;
    font-family:"Comic Sans MS" ;
}
.imgcendrier{
    position:absolute;
    top: 10px;
    margin-left: 0%;
}
.imganarchie{ 
    margin-top: 35%;
    margin-left: 75%;
}
p{
    margin-left: 1%;
}
.videocenter{
    text-align:center
}
.jaune {
    color: yellow;
    font-weight: 700;
    text-align: center;
}
.center {
    text-align: center;
}
.alignRight{
    float:right;
}
.center{
    text-align: center;
}
h3{
    color:yellow
}

    .tableau.style {
        border-collapse: collapse;
        min-width: 400px;
        width: auto;
        box-shadow: 0 5px 50px rgba(0,0,0,0.15);
        cursor: pointer;
        margin: 100px auto;
        border: 0 solid midnightblue;
}
    
    
    thead tr {
        background-color: white;
        text-align: center;
    }
    th, td {
        padding : 15px 20px
    }
    tbody tr, td, th {
        background-color: brown;
        border : 10px solid yellow;
}
ul.navigation{
    list-style: none;
    padding: 20px 40px;
    background-color: white;
    text-align: center;
}
ul.navigation li {
    display: inline-block;
    margin-right: 20px;
}
.imgbladerunner{
    margin-left: 25%;
    display: inline-block;
}

   
